{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3" />
{{ super() }}
{% endblock %}

{% block site_meta %}
    {{super()}}
    <meta name="google-site-verification" content="UHLjtoO7DV30dx3hVhwTOIWguEUr_VzS41msmq-uYKA" />
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>
<script type="text/javascript">
  docsearch({
    appId: 'T85LGF6MNG',
    apiKey: '84081a5ad9297e37f8ac4f3416cd3684',
    indexName: 'developers-amplitude',
    insights: true, // Optional, automatically send insights when user interacts with search result
    container: '#docsearch',
    debug: true // Set debug to true if you want to inspect the modal
  });
</script>

{{ super ()}}
{% endblock %}

