

{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3" />
{{ super() }}
{% endblock %}

{% block site_meta %}
    {{super()}}
    <meta name="google-site-verification" content="UHLjtoO7DV30dx3hVhwTOIWguEUr_VzS41msmq-uYKA" />
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>
<script type="text/javascript">
  docsearch({
    appId: 'T85LGF6MNG',
    apiKey: '84081a5ad9297e37f8ac4f3416cd3684',
    indexName: 'developers-amplitude',
    insights: true, // Optional, automatically send insights when user interacts with search result
    container: '#docsearch',
    debug: false, // Set debug to true if you want to inspect the modal
    transformItems(items) {
      return items.map((item) => ({
        ...item,
        url: item.url.replace('https://www.docs.developers.amplitude.com','')
      }))
    }
  });
</script>

{{ super ()}}
{% endblock %}



<!-- Kapa template -->
{% block libs %}

{{ super() }}

<script src="https://unpkg.com/@amplitude/experiment-js-client@1.9.0/dist/experiment.umd.js"></script>
<script>
function getPageInfo() {
    return {
        path: window.location.pathname,
        product: window.location.pathname.split('/')[1],
        url: window.location.href
    };
}

const initKapa = function () {
    var script = document.createElement("script");
    script.src = "https://widget.kapa.ai/kapa-widget-v1.1.0.bundle.js";
    script.setAttribute("data-website-id", "ad8ecaa4-5c43-413b-9d0a-8114b6e1f831");
    script.setAttribute("data-project-name", "Amplitude");
    script.setAttribute("data-project-color", "#301661");
    script.setAttribute("data-project-logo", "https://avatars.githubusercontent.com/u/2291562?s=280&v=4");
    script.async = true;
    document.head.appendChild(script);
    // Tracking stuff starts here. 
    setTimeout(function () {
        const kapaWidget = document.getElementById("kapa-widget-container")

        kapaWidget.addEventListener("click", function () {
            amplitude.track('Kapa Click', getPageInfo())
            setTimeout(function () {
                const kapaSearchButton = document.getElementsByClassName("mantine-UnstyledButton-root mantine-ActionIcon-root")
                const kapaSearchBox = document.getElementsByClassName('mantine-Textarea-input')
                kapaSearchButton[1].addEventListener("click", function () {
                    let kapaQuestion = kapaSearchBox[0].value
                    // Kapa Search event here
                    amplitude.track('Kapa Search', {
                        ...getPageInfo(),
                        question: kapaQuestion
                    })
                })
                kapaSearchBox[0].addEventListener("keydown", function (event) {
                    
                    if (event.key === 13 || event.key === 'Enter') {
                        let kapaQuestion = kapaSearchBox[0].value
                        amplitude.track('Kapa Search', {
                            ...getPageInfo(),
                            question: kapaQuestion
                        })
                    }
                })

            }, 1000)
        })
    }, 1500);
    // });
}

window.experiment = Experiment.Experiment.initializeWithAmplitudeAnalytics(
    'client-TF7RK1kKHIpd9sS2tn63MrevvXTmriJv', {
        fetchOnStart: true
    }
);

// await experiment.start();
experiment.start().then(() => {
    const variant = experiment.variant('kapa-ai-widget');
    if (variant.value === 'on') {
        if (document.readyState != 'loading') {
          initKapa()
        } else {
          document.addEventListener("DOMContentLoaded", initKapa())
        }
        
    }
})
</script>

{% endblock %}