{% extends "base.html" %}

{% block announce %}
<div class="announce">The Amplitude Developer Center is in Beta. Report an issue on <a href="https://github.com/Amplitude-Developer-Docs/amplitude-doc-issues/issues">GitHub</a>. Got questions or comments? Email us <a href="mailto:developerdocs@amplitude.com?subject=Developer Center Beta Mail">developerdocs@amplitude.com</a>
{% endblock %}

{% block content %}
{{ super() }}

<a href="https://github.com/Amplitude-Developer-Docs/amplitude-doc-issues/issues/new/?title=[Feedback]+{{page.title}}+-+{{page.url}}" target=_blank" class="feedback-link">Report an issue with this page</a>
{% endblock %}