
{% extends "main.html" %} <!-- extends the main template-->
{{ super() }}

{% block content %}

<h1>More Resources</h1>

Need more help? In addition to the developer docs, Amplitude offers more resources to help you be successful.

<ul>
  <li><a href="{{ config.extra.training_site }}">Amplitude Academy</a>: Take courses and learn about Amplitude.</li>
  <li><a href="{{ config.extra.community }}" >Amplitude Community</a>: Get support and connect with other Amplitude users.</li>
  <li><a href="{{ config.extra.help_site }}" >Help Center</a>: Visit the Help Center for general Amplitude documentation. The Help Center covers the web app and general Amplitude concepts in more detail.</li>
  <li><a href="{{ config.extra.postman_workspace }}">Postman Workspace</a>: Visit our Postman workspace for collections of API calls and other resources.
</li>
</ul>


{% endblock %}