<script type="text/javascript">
var consent = __md_get("__consent")
if (consent) {
    /* The user accepted the cookie */
    (function(e,t){var n=e.amplitude||{_q:[],_iq:{}};var r=t.createElement("script")
    ;r.type="text/javascript"
    ;r.integrity="sha384-VuGgAcmMrGHihvjXxxBVMIqoDFXc8/PO9q/08kCgq4Wn1iPnSmUbI3xhXaFozVFv"
    ;r.crossOrigin="anonymous";r.async=true
    ;r.src="https://cdn.amplitude.com/libs/amplitude-8.18.1-min.gz.js"
    ;r.onload=function(){if(!e.amplitude.runQueuedFunctions){console.log(
    "[Amplitude] Error: could not load SDK")}};var s=t.getElementsByTagName("script"
    )[0];s.parentNode.insertBefore(r,s);function i(e,t){e.prototype[t]=function(){
    this._q.push([t].concat(Array.prototype.slice.call(arguments,0)));return this}}
    var o=function(){this._q=[];return this};var a=["add","append","clearAll",
    "prepend","set","setOnce","unset","preInsert","postInsert","remove"];for(
    var c=0;c<a.length;c++){i(o,a[c])}n.Identify=o;var l=function(){this._q=[]
    ;return this};var u=["setProductId","setQuantity","setPrice","setRevenueType",
    "setEventProperties"];for(var p=0;p<u.length;p++){i(l,u[p])}n.Revenue=l;var d=[
    "init","logEvent","logRevenue","setUserId","setUserProperties","setOptOut",
    "setVersionName","setDomain","setDeviceId","enableTracking",
    "setGlobalUserProperties","identify","clearUserProperties","setGroup",
    "logRevenueV2","regenerateDeviceId","groupIdentify","onInit","onNewSessionStart"
    ,"logEventWithTimestamp","logEventWithGroups","setSessionId","resetSessionId",
    "getDeviceId","getUserId","setMinTimeBetweenSessionsMillis",
    "setEventUploadThreshold","setUseDynamicConfig","setServerZone","setServerUrl",
    "sendEvents","setLibrary","setTransport"];function v(t){function e(e){
    t[e]=function(){t._q.push([e].concat(Array.prototype.slice.call(arguments,0)))}}
    for(var n=0;n<d.length;n++){e(d[n])}}v(n);n.getInstance=function(e){e=(
    !e||e.length===0?"$default_instance":e).toLowerCase();if(
    !Object.prototype.hasOwnProperty.call(n._iq,e)){n._iq[e]={_q:[]};v(n._iq[e])}
    return n._iq[e]};e.amplitude=n})(window,document);
    amplitude.getInstance().init("c1817405c2f578878637c55704d4a153", null, {
        includeUtm: true,
        includeReferrer: true,
        includeGclid: true
    });

    function trackWithPageContext(event, url) {
        let paths = [];
        for (const seg of url.pathname.split('/')) {
            if (seg.length > 0) {
                paths.push(seg);
            }
        }
        let properties = {
            url: window.location.href,
            path: url.pathname,
        };
        if (paths.length > 0) {
            properties.product = paths[0];
            properties.page = paths[paths.length-1];
        }
        if (url.hash) {
            properties.anchor = url.hash;
        }
        // HACK: figure out better environment switching
        if (url.hostname === 'docs.developers.amplitude.com' || url.hostname === 'www.docs.developers.amplitude.com') {
            amplitude.getInstance().logEvent(event, properties);
        }
    }

    /* Wait for page to load and application to mount */
    document.addEventListener("DOMContentLoaded", function() {
        // Subscribe to navigation changes
        location$.subscribe(function(url) {
            trackWithPageContext("page viewed", url);
        });
    });
}
</script>
