
{% if page.edit_url %}
<a
  href="{{ page.edit_url }}"
  title="Suggest edits for this page"
  class="md-content__button md-icon"
>
  {% include ".icons/material/pencil.svg" %}
</a>
<a
  href="https://github.com/Amplitude-Developer-Docs/amplitude-dev-center/issues/new/choose"
  title="Report an issue with this page"
  class="md-content__button md-icon"
>
  {% include ".icons/octicons/issue-opened-16.svg" %}
</a>
{% endif %}

<!-- Tags -->
{% if "tags" in config.plugins %}
{% include "partials/tags.html" %}
{% endif %}

<!--
Hack: check whether the content contains a h1 headline. If it
doesn't, the page title (or respectively site name) is used
as the main headline.
-->
{% if not "\x3ch1" in page.content %}
<h1>{{ page.meta.title | d(config.site_name, true)}}</h1>
{% endif %}

<!-- Markdown content -->
{{ page.content }}

<!-- Was this page helpful? -->
{% if page and page.meta and not(
  page.meta.toplevel
  ) %}
  <hr>
  <!-- Tracks link clicks out to the community for doc improvements-->
<script>
    function trackCommunity(){
      var communityEventProperties = {
        name: "community_help",
        url: window.location.href,
      };

      amplitude.getInstance().logEvent('Link Click', eventProperties)
    }

    function trackClickSupportRequest(){
      let properties = {
        path: window.location.pathname,
        product: window.location.pathname.split('/')[1],
        url: window.location.href
      };

      amplitude.getInstance().logEvent('support request', properties);
    }

    function trackFeedback(isUseful){

      document.getElementById("happyButton").disabled = true;
      document.getElementById("sadButton").disabled = true;

      var feedbackMessage = document.createElement("p");
      feedbackMessage.innerHTML = isUseful ? "Glad to hear that!" : 'Still have questions? Ask them in the <a id="linkToCommunityHelp" href="https://community.amplitude.com" onclick="trackCommunity()">Community</a> or <a href="https://support.amplitude.com/" onclick="trackClickSupportRequest()">submit a request</a>.';
      document.getElementById("feedbackMessage").appendChild(feedbackMessage);

      var path = document.location.pathname;
      var product = document.location.pathname.split('/')[1];
      var url = document.location.href;

      /* Send feedback value */
      amplitude.getInstance().logEvent('feedback', {
        path: path,
        product: product,
        url: url,
        isUseful: isUseful
      });
    }
</script>
    <div style="display: flex; align-items: center;" >
      <h5>Was this page helpful?</h5>
      <button id="happyButton" style="cursor: pointer; margin: 5%;" onclick="trackFeedback(true)">👍 Yes</button>
      <button id="sadButton" style="cursor: pointer;" onclick="trackFeedback(false)">👎 No</button>
    </div>
    <div id="feedbackMessage"></div>
  {% endif %}

<!-- Source file information -->

{% if page and page.meta and (
page.meta.git_revision_date_localized or
page.meta.revision_date
) %}
{% include "partials/source-file.html" %}
{% endif %}
