
{% if page.edit_url %}
<a
  href="{{ page.edit_url }}"
  title="{{ lang.t('edit.link.title') }}"
  class="md-content__button md-icon"
>
  {% include ".icons/material/pencil.svg" %}
</a>
{% endif %}

<!-- Tags -->
{% if "tags" in config.plugins %}
{% include "partials/tags.html" %}
{% endif %}

<!--
Hack: check whether the content contains a h1 headline. If it
doesn't, the page title (or respectively site name) is used
as the main headline.
-->
{% if not "\x3ch1" in page.content %}
<h1>{{ page.meta.title | d(config.site_name, true)}}</h1>
{% endif %}

<!-- Markdown content -->
{{ page.content }}

<!-- Was this page helpful? -->
<!--{% include "partials/feedback.html" %} -->

<!-- Source file information -->

{% if page and page.meta and (
page.meta.git_revision_date_localized or
page.meta.revision_date
) %}
{% include "partials/source-file.html" %}
{% endif %}
<a href="https://github.com/Amplitude-Developer-Docs/amplitude-doc-issues/issues/new/?title=[Feedback]+{{page.title}}+-+{{page.url}}" target=_blank" class="feedback-link">Report an issue with this page</a>