<!-- Footer -->

<footer class="md-footer">

  
	<!-- Further information -->
	<div class="md-footer-meta md-typeset">
	  <div class="md-footer-meta__inner md-grid">
		{% include "partials/copyright.html" %}
		<!-- Footer links -->
		<ul>
			<li><a href="{{ config.extra.community }}">Get support in the Amplitude Community</a></li>
			<li><a href="{{ config.extra.product_updates }}">Get product updates</a></li>
      <li><a href="{{ config.extra.status_page }}">Amplitude Status</a></li>
		</ul>
		<!-- Social links -->
		{% if config.extra.social %}
		  {% include "partials/social.html" %}
		{% endif %}
	  </div>
	</div>
	</div>
  </footer>