/* This CSS overrides the theme defaults, MOST CSS changes belong here. */

/* LOADING FONTS */

/* ibm-plex-sans-regular - latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../assets/fonts/ibm-plex-sans-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/ibm-plex-sans-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/ibm-plex-sans-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/ibm-plex-sans-v13-latin-regular.svg#IBMPlexSans') format('svg'); /* Legacy iOS */
}
/* ibm-plex-sans-italic - latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('../assets/fonts/ibm-plex-sans-v13-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/ibm-plex-sans-v13-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/ibm-plex-sans-v13-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/ibm-plex-sans-v13-latin-italic.svg#IBMPlexSans') format('svg'); /* Legacy iOS */
}
/* ibm-plex-sans-600 - latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../assets/fonts/ibm-plex-sans-v13-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/ibm-plex-sans-v13-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/ibm-plex-sans-v13-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/ibm-plex-sans-v13-latin-600.svg#IBMPlexSans') format('svg'); /* Legacy iOS */
}
/* ibm-plex-sans-700 - latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../assets/fonts/ibm-plex-sans-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/ibm-plex-sans-v13-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/ibm-plex-sans-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/ibm-plex-sans-v13-latin-700.svg#IBMPlexSans') format('svg'); /* Legacy iOS */
}

/* ibm-plex-mono-regular - latin */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../assets/fonts/ibm-plex-mono-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/ibm-plex-mono-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/ibm-plex-mono-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/ibm-plex-mono-v11-latin-regular.svg#IBMPlexMono') format('svg'); /* Legacy iOS */
}
/* ibm-plex-mono-italic - latin */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('../assets/fonts/ibm-plex-mono-v11-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/ibm-plex-mono-v11-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/ibm-plex-mono-v11-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/ibm-plex-mono-v11-latin-italic.svg#IBMPlexMono') format('svg'); /* Legacy iOS */
}
/* ibm-plex-mono-600 - latin */ 
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../assets/fonts/ibm-plex-mono-v11-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/ibm-plex-mono-v11-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/ibm-plex-mono-v11-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/ibm-plex-mono-v11-latin-600.svg#IBMPlexMono') format('svg'); /* Legacy iOS */
}
/* ibm-plex-mono-700 - latin */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../assets/fonts/ibm-plex-mono-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/ibm-plex-mono-v11-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/ibm-plex-mono-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/ibm-plex-mono-v11-latin-700.svg#IBMPlexMono') format('svg'); /* Legacy iOS */
}
 
:root {

  /* General Colors */

	--md-primary-fg-color:        #1e61f0;
	--md-primary-fg-color--light: #ECB7B7;
	--md-primary-fg-color--dark:  #0f4f73;
  --md-accent-fg-color:         #2f1761;
  --md-accent-bg-color:         #fff;
  --md-accent-bg-color--light:  #f5d9e1;
  --md-footer-bg-color: #2f1761;
  --md-footer-fg-color--lighter: #c9c2f5;
  --md-default-fg-color: #13294B; /*this is the default text color */
  --heading-color: #3d3d3d;


  /* Code color shades */
  
  --md-code-fg-color:                hsla(0, 0%, 96%, 1); 
  --md-code-bg-color:                hsla(200, 18%, 26%, 1);

  /* Set the fonts */ 

  --md-default-fg-color:               #13294B;
  --md-default-fg-color--light:        #282828;
  --md-default-fg-color--lighter:      hsla(0, 0%, 0%, 0.32);
  --md-default-fg-color--lightest:     hsla(0, 0%, 0%, 0.07);
  --md-default-bg-color:               hsla(0, 0%, 100%, 1);
  --md-default-bg-color--light:        hsla(0, 0%, 100%, 0.7);
  --md-default-bg-color--lighter:      hsla(0, 0%, 100%, 0.3);
  --md-default-bg-color--lightest:     hsla(0, 0%, 100%, 0.12);
  --md-text-font: "IBM Plex Sans", Arial, sans-serif;
  --md-text-code: "IBM Plex Mono", monospace;


  }

.md-typeset h1 {                    /* overrides the weird H1 css inherited from the theme */
    color: var(--md-default-fg-color);
}

.md-footer-meta {
  background-color: transparent;
}

.md-footer-meta ul {
  list-style-type: none;
  font-size: small;
  line-height: 1em;
}

.md-footer {
  background-color: var(--md-accent-fg-color);
}

/* Sets nav items to bold */

.md-tabs__item { 
  font-weight: bold;
  color: var(--md-accent-bg-color);
}

.md-tabs__link { /* overrides the weird opacity settings that caused low contrast issues */
  color: var(--md-accent-bg-color);
  opacity: 90%;
}

.md-tabs__link--active { /* overrides the weird opacity settings that caused low contrast issues */
  color: var(--md-accent-bg-color);
  

}
/* button overrides */ 

.md-button:focus,
.md-button:hover {
    background-color: var(--md-accent-fg-color);
    color: var(--md-default-bg-color);
    border-color: var(--md-accent-fg-color)
}

/* COLUMN WIDTH CLASSES 
These classes makes tables make sense. Because MD table column width is based on the width of the first cell's content, this sets the width to a minimum of 180px.
You can't wrap markdown in HTML, but you can use HTML in Markdown. 
Wrap the column header text in a div with this class to make the Markdown cooperate */

.big-column {

  min-width: 180px;
}

.med-column {

  min-width: 100px;
}
