/* This CSS overrides the theme defaults, MOST CSS changes belong here. */

/* LOADING FONTS */

/* ibm-plex-sans-regular - latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../assets/fonts/ibm-plex-sans-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/ibm-plex-sans-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/ibm-plex-sans-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/ibm-plex-sans-v13-latin-regular.svg#IBMPlexSans') format('svg'); /* Legacy iOS */
}
/* ibm-plex-sans-italic - latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('../assets/fonts/ibm-plex-sans-v13-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/ibm-plex-sans-v13-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/ibm-plex-sans-v13-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/ibm-plex-sans-v13-latin-italic.svg#IBMPlexSans') format('svg'); /* Legacy iOS */
}
/* ibm-plex-sans-600 - latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../assets/fonts/ibm-plex-sans-v13-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/ibm-plex-sans-v13-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/ibm-plex-sans-v13-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/ibm-plex-sans-v13-latin-600.svg#IBMPlexSans') format('svg'); /* Legacy iOS */
}
/* ibm-plex-sans-700 - latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../assets/fonts/ibm-plex-sans-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/ibm-plex-sans-v13-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/ibm-plex-sans-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/ibm-plex-sans-v13-latin-700.svg#IBMPlexSans') format('svg'); /* Legacy iOS */
}

/* ibm-plex-mono-regular - latin */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../assets/fonts/ibm-plex-mono-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/ibm-plex-mono-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/ibm-plex-mono-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/ibm-plex-mono-v11-latin-regular.svg#IBMPlexMono') format('svg'); /* Legacy iOS */
}
/* ibm-plex-mono-italic - latin */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('../assets/fonts/ibm-plex-mono-v11-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/ibm-plex-mono-v11-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/ibm-plex-mono-v11-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/ibm-plex-mono-v11-latin-italic.svg#IBMPlexMono') format('svg'); /* Legacy iOS */
}
/* ibm-plex-mono-600 - latin */ 
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../assets/fonts/ibm-plex-mono-v11-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/ibm-plex-mono-v11-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/ibm-plex-mono-v11-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/ibm-plex-mono-v11-latin-600.svg#IBMPlexMono') format('svg'); /* Legacy iOS */
}
/* ibm-plex-mono-700 - latin */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../assets/fonts/ibm-plex-mono-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/ibm-plex-mono-v11-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/ibm-plex-mono-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/ibm-plex-mono-v11-latin-700.svg#IBMPlexMono') format('svg'); /* Legacy iOS */
}

:root {

  /* General Colors */

	--md-primary-fg-color:        #1e61f0;
	--md-primary-fg-color--light: #ECB7B7;
	--md-primary-fg-color--dark:  #0f4f73;
  --md-accent-fg-color:         #2f1761;
  --md-accent-bg-color:         #fff;
  --md-accent-bg-color--light:  #f5d9e1;
  --banner-bg-color: #2f1761;
  --md-footer-bg-color: #2f1761;
  --md-footer-fg-color--lighter: #c9c2f5;
  --heading-color: #3d3d3d;
  --boxes-background: #f3f3f3;
  --md-amplitude-light-purple: #c9c2f5;
  --md-amplitude-dark-teal: #0f4f73;
  --md-amplitude-light-teal: #91d9e3;
  --md-amplitude-light-blue: #c1e0fe;
  --md-amplitude-red: #f54f4f;

  /* Default Colors */

  --md-default-fg-color:               #13294B;
  --md-default-fg-color--light:        #282828;
  --md-default-fg-color--lighter:      hsla(0, 0%, 0%, 0.32);
  --md-default-fg-color--lightest:     hsla(0, 0%, 0%, 0.07);
  --md-default-bg-color:               hsla(0, 0%, 100%, 1);
  --md-default-bg-color--light:        hsla(0, 0%, 100%, 0.7);
  --md-default-bg-color--lighter:      hsla(0, 0%, 100%, 0.3);
  --md-default-bg-color--lightest:     hsla(0, 0%, 100%, 0.12);

  /* Code Colors */

  --md-code-fg-color:                hsla(200, 18%, 26%, 1);
  --md-code-bg-color:                hsla(0, 0%, 96%, 1);

  --md-code-hl-color:                hsla(#{hex2hsl($clr-yellow-a200)}, 0.5);
  --md-code-hl-number-color:         hsla(0, 67%, 50%, 1);
  --md-code-hl-special-color:        hsla(340, 83%, 47%, 1);
  --md-code-hl-function-color:       hsla(291, 45%, 50%, 1);
  --md-code-hl-constant-color:       hsla(250, 63%, 60%, 1);
  --md-code-hl-keyword-color:        hsla(219, 54%, 51%, 1);
  --md-code-hl-string-color:         hsla(150, 63%, 30%, 1);
  --md-code-hl-name-color:           var(--md-code-fg-color);
  --md-code-hl-operator-color:       var(--md-default-fg-color--light);
  --md-code-hl-punctuation-color:    var(--md-default-fg-color--light);
  --md-code-hl-comment-color:        var(--md-default-fg-color--light);
  --md-code-hl-generic-color:        var(--md-default-fg-color--light);
  --md-code-hl-variable-color:       var(--md-default-fg-color--light);

  /* Fonts */

  --md-text-font: "IBM Plex Sans", Arial, sans-serif;
  --md-text-code: "IBM Plex Mono", monospace;
  }

.md-typeset h1 { /* overrides the weird H1 css inherited from the theme */
  color: var(--md-default-fg-color);
}

.md-footer-meta {
  background-color: transparent;
}

.md-footer-meta ul {
  list-style-type: none;
  font-size: small;
  line-height: 1em;
}

.md-footer {
  background-color: var(--md-accent-fg-color);
}

.md-typeset ol li::marker {
  font-weight: 700;
}

/* Overrides theme defaults */

.md-nav__item--section>.md-nav__link[for],.md-nav--lifted>.md-nav__list>.md-nav__item>[for] {
  color: var(--md-default-fg-color);
}

.md-nav__title {
  color: var(--md-default-fg-color);
}

/* Sets nav items to bold */

.md-tabs__item {
  font-weight: bold;
  color: var(--md-accent-bg-color);
}

.md-tabs__link { /* overrides the weird opacity settings that caused low contrast issues */
  color: var(--md-accent-bg-color);
  opacity: 90%;
}

.md-tabs__link--active { /* overrides the weird opacity settings that caused low contrast issues */
  color: var(--md-accent-bg-color);
}
/* button overrides */

.md-button:focus,
.md-button:hover {
    background-color: var(--md-accent-fg-color);
    color: var(--md-default-bg-color);
    border-color: var(--md-accent-fg-color)
}

.md-status { /* sets status badge color */
  color: var(--md-accent-fg-color);
}

/* Class for adding alt text to emojis in tables */
.screen-reader-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* COLUMN WIDTH CLASSES
These classes makes tables make sense. Because MD table column width is based on
the width of the first cell's content, this sets the width to a minimum of 180px.
You can't wrap markdown in HTML, but you can use HTML in Markdown.
Wrap the column header text in a div with this class to make the Markdown cooperate */

.big-column {
  min-width: 180px;
}

.med-big-column {
  min-width: 140px;
}

.med-column {
  min-width: 100px;
}

/* sets the feedback link font size */

.feedback-link {
  font-size: small;
}

/* Overrides heading sizes and styles*/

/*.md-typeset h1 {

font-size: 3.125em;
letter-spacing: -1px;
margin: 1em auto 1em;
}*/

.md-typeset h2 {
  font-size: 1.75em;
}

.md-typeset h3 {
  font-size: 1.5em;
}

.md-typeset h4 {
  font-size: 1.1em;
  font-weight: 700;
}

.md-typeset h5 {
  font-size: 1em;
  text-transform: none;
}

/* End Heading overrides */

/* Sets heading sizes and overrides on mobile */

@media screen and (max-width:30em) {
  .md-typeset h1 {
    font-size: 2.25em;
  }

  .md-typeset h2 {
    font-size: 1.75em;
    }

  .md-typeset h3 {
    font-size: 1.375em;
  }

  .md-typeset h4 {
    font-size: 1.25em;
    font-weight: 300;
  }

  .md-typeset h5 {
    font-size: 1.125em;
    text-transform: none;
  }
}

/* end heading sizes overrides on mobile */

/* SDK SVG Grid Styles */

.grid-container {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /* add and remove values as needed to balance your items */
  padding: 10px;
  background-color: var(--boxes-background);
  border: 1px solid var(--md-primary-fg-color);
  align-items: baseline;
}

.grid-item {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.sdk-icons {
  fill:var(--md-primary-fg-color);
  -webkit-flex:none;
  -ms-flex:none;
  flex:none;
}

.sdk-icons:hover {
  fill:var(--md-accent-fg-color);
}

/* End SVG grid styles */

/* Announcement Block Styles*/
.announce a { /*sets the color of links inside the announcement */
  color: var(--md-primary-fg-color--light);
}

.announce a:hover { /* sets the hover color of links inside the announcement */
  color: var(--md-accent-bg-color--light);
}

.md-banner {
  background-color: var(--banner-bg-color);
  color: var(--md-footer-fg-color);
  overflow: auto;
}


/* SDK Quickstart Heading Hacks */

/* Makes pretty HRs */

.sdk-hr hr{
    border-bottom: 0.05rem solid var(--md-primary-fg-color);
    display: flow-root;
    margin: 1.5em 0;
}

/* Makes H2 have less margin */

.md-typeset h2 {

  margin: 1em 0 0.64em;

}

/* Icon Colors */

.green {
  color: #8bc34a;
  font-size: 1.3em;
}

.red {
  color: #d32f2f;
  font-size: 1.3em;
}

/* Custom Admonitions */

/* Amplitude */

:root {
  --md-admonition-icon--amplitude: url('data:image/svg+xml;charset=utf-8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 648 648" style="enable-background:new 0 0 648 648;" xml:space="preserve"><g><path class="st0" d="M289.88,165.66c-1.62-2.08-3.35-3.24-5.44-3.24c-1.5,0.12-2.89,0.58-4.16,1.39 c-15.38,12.03-36.32,63.04-53.55,130.35l15.27,0.12c30.07,0.35,61.19,0.69,91.84,1.16c-8.1-30.77-15.73-57.14-22.79-78.53 C300.75,185.78,293.81,171.79,289.88,165.66z"/><path class="st0" d="M324,36C164.96,36,36,164.96,36,324c0,159.04,128.96,288,288,288s288-128.96,288-288 C612,164.96,483.04,36,324,36z M536.59,320.53c-0.81,3.24-2.78,6.36-5.55,8.67c-0.35,0.23-0.69,0.46-1.04,0.69l-0.35,0.23 l-0.69,0.46l-0.58,0.35c-2.2,1.16-4.63,1.73-7.17,1.73H384.72c1.04,4.51,2.31,9.72,3.59,15.27c7.52,32.27,27.3,118.09,48.46,118.09 h0.46h0.23h0.46c16.42,0,24.87-23.83,43.37-75.99l0.23-0.58c3.01-8.33,6.36-17.81,9.95-27.88l0.93-2.54 c1.39-3.35,5.2-5.09,8.56-3.7c2.43,0.93,4.16,3.35,4.16,6.01c0,0.69-0.12,1.27-0.23,1.85l-0.81,2.54 c-1.97,6.25-3.93,14.69-6.36,24.52c-10.99,45.57-27.64,114.39-70.21,114.39h-0.35c-27.53-0.23-43.95-44.18-51.01-63.04 c-13.19-35.16-23.13-72.52-32.73-108.84H218.05l-26.02,83.39l-0.35-0.35c-3.93,6.13-12.14,7.98-18.27,4.05 c-3.82-2.43-6.13-6.59-6.13-11.1v-0.46l1.62-9.48c3.59-21.4,7.98-43.72,12.84-66.16h-53.2l-0.23-0.23 c-10.87-1.62-18.39-11.8-16.77-22.67c1.27-8.44,7.75-15.15,16.08-16.66c2.08-0.23,4.16-0.35,6.25-0.23h2.54 c16.77,0.23,34.58,0.58,54.25,0.81c27.64-112.42,59.68-169.56,95.31-169.68c38.17,0,66.51,86.86,89.18,171.87l0.12,0.35 c46.5,0.93,96.23,2.31,144.46,5.78l2.08,0.23c0.81,0,1.5,0.12,2.31,0.23h0.23l0.23,0.12h0.12 C532.89,304.22,538.32,312.32,536.59,320.53z"/></g></svg>');
}
.md-typeset .admonition.amplitude,
.md-typeset details.amplitude {
  border-color: rgb(30, 97, 240);
}
.md-typeset .amplitude > .admonition-title,
.md-typeset .amplitude > summary {
  border-color: rgb(30, 97, 240);
  background-color: rgba(30, 97, 240, 0.1);
}
.md-typeset .amplitude > .admonition-title::before,
.md-typeset .amplitude > summary::before {
  border-color: rgb(30, 97, 240);
  background-color: rgb(30, 97, 240);
  -webkit-mask-image: var(--md-admonition-icon--amplitude);
          mask-image: var(--md-admonition-icon--amplitude);
}

/* Segment */

:root {
  --md-admonition-icon--segment: url('data:image/svg+xml;charset=utf-8,<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path d="M.096 9.37a.438.438 0 01-.052-.35A12.04 12.04 0 014.21 2.66 12.273 12.273 0 019.78.18a12.479 12.479 0 016.115.483.469.469 0 01.267.238.447.447 0 010 .351l-.598 1.54c-.04.11-.122.2-.23.25a.469.469 0 01-.347.02 9.807 9.807 0 00-4.797-.369 9.644 9.644 0 00-4.368 1.953 9.502 9.502 0 00-3.235 4.979.446.446 0 01-.164.242.473.473 0 01-.282.095h-.104L.397 9.58a.466.466 0 01-.291-.208M23.904 13.196a.455.455 0 00-.314-.169l-1.678-.17a.474.474 0 00-.331.095.443.443 0 00-.171.29 9.358 9.358 0 01-3.084 5.736 9.618 9.618 0 01-4.667 2.284 9.805 9.805 0 01-5.211-.452.469.469 0 00-.493.104.438.438 0 00-.096.144l-.654 1.54a.43.43 0 000 .35.425.425 0 00.26.247 12.33 12.33 0 004.403.805c3.047 0 5.982-1.113 8.216-3.114 2.153-1.93 3.535-4.53 3.9-7.345a.432.432 0 00-.095-.34M14.64 15.436v-1.659a.443.443 0 00-.134-.32.476.476 0 00-.328-.134H.459a.476.476 0 00-.326.136.444.444 0 00-.133.318v1.66a.437.437 0 00.134.32.466.466 0 00.329.133h13.715a.479.479 0 00.329-.134.452.452 0 00.133-.32zM9.363 7.753v1.659a.442.442 0 00.132.318.474.474 0 00.326.136h13.717a.48.48 0 00.328-.134.45.45 0 00.134-.32v-1.66a.443.443 0 00-.139-.31.474.474 0 00-.323-.128H9.818a.474.474 0 00-.325.136.442.442 0 00-.132.318M19.39 2.252a1.442 1.442 0 00-.786.216 1.372 1.372 0 00-.528.602 1.318 1.318 0 00.279 1.485c.193.193.441.327.713.384.272.057.555.034.814-.064.258-.1.481-.27.64-.49.158-.222.245-.483.25-.752v-.022c.002-.357-.143-.7-.402-.955a1.42 1.42 0 00-.98-.404zM4.12 18.681a1.442 1.442 0 00-.785.217 1.372 1.372 0 00-.529.601c-.11.247-.143.52-.093.784.05.264.18.508.372.702.194.193.442.326.714.383.272.057.555.035.814-.064.258-.099.48-.27.64-.49.158-.221.245-.483.25-.751v-.023c0-.357-.144-.7-.402-.954a1.424 1.424 0 00-.981-.404z"></path></svg>');
}
.md-typeset .admonition.segment,
.md-typeset details.segment {
  border-color: rgb(82, 189, 148);
}
.md-typeset .segment > .admonition-title,
.md-typeset .segment > summary {
  border-color: rgb(82, 189, 148);
  background-color: rgba(82, 189, 148, 0.1);
}
.md-typeset .segment > .admonition-title::before,
.md-typeset .segment > summary::before {
  border-color: rgb(82, 189, 148);
  background-color: rgb(82, 189, 148);
  -webkit-mask-image: var(--md-admonition-icon--segment);
          mask-image: var(--md-admonition-icon--segment);
}

/* config */

:root {
  --md-admonition-icon--config: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"  width="24" height="24" viewBox="0 0 24 24"><path d="M12,15.5A3.5,3.5 0 0,1 8.5,12A3.5,3.5 0 0,1 12,8.5A3.5,3.5 0 0,1 15.5,12A3.5,3.5 0 0,1 12,15.5M19.43,12.97C19.47,12.65 19.5,12.33 19.5,12C19.5,11.67 19.47,11.34 19.43,11L21.54,9.37C21.73,9.22 21.78,8.95 21.66,8.73L19.66,5.27C19.54,5.05 19.27,4.96 19.05,5.05L16.56,6.05C16.04,5.66 15.5,5.32 14.87,5.07L14.5,2.42C14.46,2.18 14.25,2 14,2H10C9.75,2 9.54,2.18 9.5,2.42L9.13,5.07C8.5,5.32 7.96,5.66 7.44,6.05L4.95,5.05C4.73,4.96 4.46,5.05 4.34,5.27L2.34,8.73C2.21,8.95 2.27,9.22 2.46,9.37L4.57,11C4.53,11.34 4.5,11.67 4.5,12C4.5,12.33 4.53,12.65 4.57,12.97L2.46,14.63C2.27,14.78 2.21,15.05 2.34,15.27L4.34,18.73C4.46,18.95 4.73,19.03 4.95,18.95L7.44,17.94C7.96,18.34 8.5,18.68 9.13,18.93L9.5,21.58C9.54,21.82 9.75,22 10,22H14C14.25,22 14.46,21.82 14.5,21.58L14.87,18.93C15.5,18.67 16.04,18.34 16.56,17.94L19.05,18.95C19.27,19.03 19.54,18.95 19.66,18.73L21.66,15.27C21.78,15.05 21.73,14.78 21.54,14.63L19.43,12.97Z" /></svg>')
}
.md-typeset .admonition.config,
.md-typeset details.config {
  border-color: rgb(100, 100, 100);
}
.md-typeset .config > .admonition-title,
.md-typeset .config > summary {
  border-color: rgb(100, 100, 100);
  background-color: rgba(100, 100, 100, 0.1);
}
.md-typeset .config > .admonition-title::before,
.md-typeset .config > summary::before {
  border-color: rgb(100, 100, 100);
  background-color: rgb(100, 100, 100);
  -webkit-mask-image: var(--md-admonition-icon--config);
          mask-image: var(--md-admonition-icon--config);
}


/* beta */

:root {
  --md-admonition-icon--beta: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M9.23 17.59v5.53H6.88V6.72c0-1.45.43-2.59 1.28-3.44C9 2.43 10.17 2 11.61 2c1.39 0 2.46.34 3.26 1 .79.68 1.18 1.62 1.18 2.81 0 .82-.26 1.59-.78 2.3-.52.71-1.19 1.2-2.02 1.47v.04c1.25.2 2.22.65 2.88 1.38.66.71.99 1.62.99 2.74 0 1.32-.46 2.4-1.37 3.23-.92.83-2.12 1.24-3.62 1.24-1.06 0-2.03-.21-2.9-.62m1.49-6.84V8.83c.87-.11 1.58-.43 2.15-.97.56-.55.84-1.16.84-1.86 0-1.38-.71-2.08-2.11-2.08-.76 0-1.35.24-1.76.73-.41.49-.61 1.17-.61 2.06v8.79c.91.53 1.8.79 2.66.79.84 0 1.5-.22 1.97-.65.47-.44.7-1.06.7-1.85 0-1.79-1.28-2.79-3.84-3.04Z"/></svg>')
}
.md-typeset .admonition.beta,
.md-typeset details.beta {
  border-color: rgb(47, 23, 97);
}
.md-typeset .beta > .admonition-title,
.md-typeset .beta > summary {
  border-color: rgb(47, 23, 97);
  background-color: rgba(47, 23, 97, 0.1);
}
.md-typeset .beta > .admonition-title::before,
.md-typeset .beta > summary::before {
  border-color: rgb(47, 23, 97);
  background-color: rgb(47, 23, 97);
  -webkit-mask-image: var(--md-admonition-icon--beta);
          mask-image: var(--md-admonition-icon--beta);
}


/* alpha */

:root {
  --md-admonition-icon--alpha: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.08 17.8c-.46.13-.87.2-1.23.2-1.2 0-2.01-.88-2.42-2.65h-.05c-.99 1.91-2.38 2.86-4.13 2.86-1.31 0-2.36-.49-3.15-1.48S5.92 14.5 5.92 13c0-1.75.45-3.15 1.34-4.24.89-1.09 2.1-1.64 3.63-1.64.82 0 1.56.23 2.2.68.64.46 1.13 1.1 1.47 1.93h.04l.71-2.4h2.56l-2.14 5.32c.24 1.24.49 2.09.77 2.54.24.45.58.68 1 .68.24 0 .43-.04.6-.11l-.02 2.04m-4.26-5.24c-.21-1.13-.55-2.01-1.01-2.61-.45-.61-1-.91-1.63-.91-.82 0-1.48.37-1.97 1.1-.49.74-.71 1.65-.71 2.72 0 .98.19 1.79.62 2.45.42.66.99.98 1.7.98.6 0 1.15-.29 1.64-.84.5-.57.91-1.4 1.24-2.49l.12-.4Z"/></svg>')
}
.md-typeset .admonition.alpha,
.md-typeset details.alpha {
  border-color: rgb(47, 23, 97);
}
.md-typeset .alpha > .admonition-title,
.md-typeset .alpha > summary {
  border-color: rgb(47, 23, 97);
  background-color: rgba(47, 23, 97, 0.1);
}
.md-typeset .alpha > .admonition-title::before,
.md-typeset .alpha > summary::before {
  border-color: rgb(47, 23, 97);
  background-color: rgb(47, 23, 97);
  -webkit-mask-image: var(--md-admonition-icon--alpha);
          mask-image: var(--md-admonition-icon--alpha);
}

/* deprecation warning */

:root {
  --md-admonition-icon--deprecated: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m20.12 14.46 1.42 1.42L19.41 18l2.13 2.12-1.42 1.42L18 19.41l-2.12 2.13-1.41-1.42L16.59 18l-2.12-2.12 1.41-1.41L18 16.59l2.12-2.13m.21-9.79L18.67 3 17 4.67 15.33 3l-1.66 1.67L12 3l-1.67 1.67L8.67 3 7 4.67 5.33 3 3.67 4.67 2 3v16a2 2 0 0 0 2 2h8.8c-.51-.88-.8-1.91-.8-3 0-1.23.37-2.37 1-3.32V13h1.68c.95-.63 2.09-1 3.32-1 1.53 0 2.93.58 4 1.5V3l-1.67 1.67M11 19H4v-6h7v6m9-8H4V8h16v3Z"/></svg>')
}
.md-typeset .admonition.deprecated,
.md-typeset details.deprecated {
  border-color: rgb(245, 79, 79);
}
.md-typeset .deprecated > .admonition-title,
.md-typeset .deprecated > summary {
  border-color: rgb(245, 79, 79);
  background-color: rgba(245, 79, 79, 0.1);
}
.md-typeset .deprecated > .admonition-title::before,
.md-typeset .deprecated > summary::before {
  border-color: rgb(245, 79, 79);
  background-color: rgb(245, 79, 79);
  -webkit-mask-image: var(--md-admonition-icon--deprecated);
          mask-image: var(--md-admonition-icon--deprecated);
}

/* textarea style for interactive api tables */

textarea.at-field {
  width: 220px;
  height: 30px;
  resize: none;
}

:root {
  --md-admonition-icon--code-example: url('data:image/svg+xml;charset=utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--! Font Awesome Free 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc.--><path d="M392.8 1.2c-17-4.9-34.7 5-39.6 22l-128 448c-4.9 17 5 34.7 22 39.6s34.7-5 39.6-22l128-448c4.9-17-5-34.7-22-39.6zm80.6 120.1c-12.5 12.5-12.5 32.8 0 45.3l89.3 89.4-89.4 89.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l112-112c12.5-12.5 12.5-32.8 0-45.3l-112-112c-12.5-12.5-32.8-12.5-45.3 0zm-306.7 0c-12.5-12.5-32.8-12.5-45.3 0l-112 112c-12.5 12.5-12.5 32.8 0 45.3l112 112c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256l89.4-89.4c12.5-12.5 12.5-32.8 0-45.3z"/></svg>')
}
.md-typeset .admonition.code-example,
.md-typeset details.code-example {
  border-color: var(--md-primary-fg-color);
}
.md-typeset .code-example > .admonition-title,
.md-typeset .code-example > summary {
  border-color: var(--md-primary-fg-color);
  background-color: var(--md-amplitude-light-blue);
}
.md-typeset .code-example > .admonition-title::before,
.md-typeset .code-example > summary::before {
  border-color: var(--md-primary-fg-color);
  background-color: var(--md-primary-fg-color);
  -webkit-mask-image: var(--md-admonition-icon--code-example);
          mask-image: var(--md-admonition-icon--code-example);
}

/* Required identifier */

.required {

  color: var(--md-amplitude-red);
  font-weight: 400;
  font-style: italic;
}

.optional {

  color: green;
  font-weight: 400;
  font-style: italic;
}

/* allow wrapping of codeblocks in tables  */

table code {
  white-space : pre-wrap !important;
}