
:root {
	--md-primary-fg-color:        #1e61f0;
	--md-primary-fg-color--light: #ECB7B7;
	--md-primary-fg-color--dark:  #0f4f73;
  --md-accent-fg-color:         #2f1761;
  --md-accent-bg-color:         #c1e0fe;
  --md-accent-bg-color--light:  #f5d9e1;
  --md-footer-bg-color: #2f1761;
  --md-footer-fg-color--lighter: #c9c2f5;

  --md-default-fg-color:               #171717;
  --md-default-fg-color--light:        hsla(0, 0%, 0%, 0.54);
  --md-default-fg-color--lighter:      hsla(0, 0%, 0%, 0.32);
  --md-default-fg-color--lightest:     hsla(0, 0%, 0%, 0.07);
  --md-default-bg-color:               hsla(0, 0%, 100%, 1);
  --md-default-bg-color--light:        hsla(0, 0%, 100%, 0.7);
  --md-default-bg-color--lighter:      hsla(0, 0%, 100%, 0.3);
  --md-default-bg-color--lightest:     hsla(0, 0%, 100%, 0.12);

  
  }
.md-footer-meta {
  background-color: transparent;
}

.md-footer {
  background-color: var(--md-accent-fg-color);
}